version: "0.1"
name: hello_world_again_workflow
global_timeout: 600
tasks:
  - name: "hello world"
    worker: "{{.device_1}}"
    actions:
      - name: "hello_world_again"
        image: hello-world-again
        timeout: 60
