version: '0.1'
name: hello_world_workflow
global_timeout: 600
tasks:
- name: "hello world"
  worker: "{{index .Targets "machine1" "mac_addr"}}"
  actions:
  - name: "hello_world"
    image: hello-world
    timeout: 60
