version: '0.1'
name: packet_osie_provision
global_timeout: 600
tasks:
- name: "OS Installation"
  worker: "{{index .Targets "machine1" "mac_addr"}}"
  actions:
  - name: "server_partitioning"
    image: hello-world
    timeout: 60
    volumes:
      - ./host-path:/container-path
    environment:
      key: value
  - name: os_install
    image: hello-world  
    timeout: 60
- name: "Updated DB Entries"
  worker: "{{index .Targets "machine1" "mac_addr"}}"
  actions:
  - name: "update_db"
    image: hello-world
    timeout: 50
