version: '0.1'
name: packet_osie_provision
tasks:
- name: "OS Installation"
  worker: "{{.device_1}}"
  actions:
  - name: "server_partitioning"
    image: hello-world
    timeout: 60
    volumes:
      - ./host-path:/container-path
    environment:
      key: value
  - name: os_install
    image: hello-world  
    timeout: 60
- name: "Updated DB Entries"
  worker: "{{.device_1}}"
  actions:
  - name: "update_db"
    image: hello-world
    timeout: 50
