version: '0.1'
name: packet_osie_provision
global_timeout: 600
tasks:
- name: “OS Installation”
  worker: "{{index .Targets "machine1" "mac_addr"}}"
  actions:
  - name: "server_partitioning"
    image: server_partition:latest
    timeout: 60
    command: do_partition create
    on-timeout: do_partion recover -timeout
    on-failure: do_partion recover -failure
  - name: os_install
    image: os_installer
    timeout: 60
    command: “os_install”
    on-timeout: “os_install -timeout”
    on-failure: “os_install -failure”
    Params:
         hostname: "localhost"
- name: "Updated DB Entries"
  worker: "{{index .Targets "machine2" "ipv4_addr"}}"
  actions:
  - name: "Update DB entries"
    image: rover_client
    timeout: 50
    command: “rover_client -update”
    on-timeout: “rover_client update-timeout”
    on-failure: “rover_client update-failed”
